html{
    font-family: sans-serif;
}
header{
    background-color: grey; 
    color:white; 
    padding: 10px;
    padding-left: 20px;
    font-family: sans-serif; 
    line-height: 1.5em;
}
p{
    font-size: 1.5em;
}

textarea{
    margin: 0 auto;
    margin: 10px 10px 10px 0px;
}
label{
    font-size: 0.8em;
}
#savingText{
    padding: 10px;
    background-color: lightgray;
    border-color: darkgrey;
    border-width: 5px;
    border-radius: 10px;
}
.filename{
    margin: 0 5px 0 5px;
    min-width: 150px;
}
a{
    position: relative;
    bottom: 60px;
    float: right;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    background-color: lightsteelblue;
    
}