body {
    margin: 0 auto;
}
#myCanvas{
    

}
header{
    background-color: grey; 
    color:white; 
    padding: 20px; 
    font-family: sans-serif; 
    line-height: 1.5em;
}


#points{
    margin: 30px 0 0 0;
    float: right;
}
#txtPoints {
    display: none;
}
a{
    position: relative;
    bottom: 20px;
    float: right;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    background-color: lightsteelblue;
}
