body {
    margin: 0 auto;
}
#myCanvas{
    width: 50%;
    height: 50%;

}
#instructions{
    background-color: grey; 
    color:white; padding: 20px; 
    font-family: sans-serif; 
    line-height: 1.5em;}

#points{
    margin: 10px 10px 0 0;
    float: right;
    border-color:  2px black;
}
